* {
    background-image: none;
}
window {
    background-color: rgba(12, 12, 12, 0.9);
}
button {
    color: #FFFFFF;
    background-color: #1E1E1E;
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus, button:active, button:hover {
    background-color: #3700B3;
    outline-style: none;
}

#lock {
    background-image:
        image(url("/home/anderson/Config/share/icons/lock.svg"),
              url("/home/anderson/Config/share/icons/lock.svg"));
}

#logout {
    background-image:
        image(url("/home/anderson/Config/share/icons/logout.svg"),
              url("/home/anderson/Config/share/icons/logout.svg"));
}

#suspend {
    background-image:
        image(url("/home/anderson/Config/share/icons/suspend.svg"),
              url("/home/anderson/Config/share/icons/suspend.svg"));
}

#hibernate {
    background-image:
        image(url("/home/anderson/Config/share/icons/hibernate.svg"),
              url("/home/anderson/Config/share/icons/hibernate.svg"));
}

#shutdown {
    background-image:
        image(url("/home/anderson/Config/share/icons/shutdown.svg"),
              url("/home/anderson/Config/share/icons/shutdown.svg"));
}

#reboot {
    background-image:
        image(url("/home/anderson/Config/share/icons/reboot.svg"),
              url("/home/anderson/Config/share/icons/reboot.svg"));
}
